<a href="https://colab.research.google.com/github/alexpaulo100/processamento-dados-pandas/blob/main/Manipulacao_dados_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.read_excel('/content/drive/MyDrive/ETL-pandas/01-21.xlsx')

In [ ]:
df1

,Data,2021-01-31 00:00:00,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Produto,Lote,País Origem,Endereço,Qtd Estoque,Valor Unitário,Validade
2,Produto H - Marca Delta,Lote 8191,CH,"Nanquim 123 - Xangai, China",6071.00,3.64,2026-06-13 00:00:00
3,Produto B - Marca Lambda,Lote 7447,CH,"Wangfujing 12456 - Pequim, China",5557.00,9.24,2025-01-02 00:00:00
4,Produto H - Marca Gama,Lote 7129,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",1184.00,2.48,2026-08-11 00:00:00
...,...,...,...,...,...,...,...
273,Produto M - Marca Gama,Lote 3647,US,"8001 S Orange Blossom Trl - Florida, United St...",2056.00,1.67,2024-12-13 00:00:00
274,Produto B - Marca Lambda,Lote 3175,CH,"Wangfujing 12456 - Pequim, China",4163.00,9.24,2025-03-21 00:00:00
275,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276,Produto R - Marca Épsilon,Lote 4962,CH,"Nanquim 123 - Xangai, China",5172.00,5.79,2024-12-21 00:00:00
277,Produto J - Marca Alfa,Lote 5853,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",9557.00,8.85,2025-04-13 00:00:00

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278 entries, 0 to 277
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Data                 244 non-null    object
 1   2021-01-31 00:00:00  244 non-null    object
 2   Unnamed: 2           244 non-null    object
 3   Unnamed: 3           244 non-null    object
 4   Unnamed: 4           244 non-null    object
 5   Unnamed: 5           244 non-null    object
 6   Unnamed: 6           244 non-null    object
dtypes: object(7)
memory usage: 15.3+ KB

In [ ]:
df1.shape

(278, 7)

In [ ]:
df1.head()

,Data,2021-01-31 00:00:00,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Produto,Lote,País Origem,Endereço,Qtd Estoque,Valor Unitário,Validade
2,Produto H - Marca Delta,Lote 8191,CH,"Nanquim 123 - Xangai, China",6071.00,3.64,2026-06-13 00:00:00
3,Produto B - Marca Lambda,Lote 7447,CH,"Wangfujing 12456 - Pequim, China",5557.00,9.24,2025-01-02 00:00:00
4,Produto H - Marca Gama,Lote 7129,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",1184.00,2.48,2026-08-11 00:00:00

In [ ]:
# Exclui as linhas em que todos os valores estão vazios
df1 = df1.dropna(how="all", axis = 0)

In [ ]:
df1

,Data,2021-01-31 00:00:00,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
1,Produto,Lote,País Origem,Endereço,Qtd Estoque,Valor Unitário,Validade
2,Produto H - Marca Delta,Lote 8191,CH,"Nanquim 123 - Xangai, China",6071.00,3.64,2026-06-13 00:00:00
3,Produto B - Marca Lambda,Lote 7447,CH,"Wangfujing 12456 - Pequim, China",5557.00,9.24,2025-01-02 00:00:00
4,Produto H - Marca Gama,Lote 7129,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",1184.00,2.48,2026-08-11 00:00:00
5,Produto C - Marca Gama,Lote 5155,AR,"Marcelo T. de Alvear 120 - Cordoba, Argentina",5974.00,9.02,2024-12-23 00:00:00
...,...,...,...,...,...,...,...
272,Produto E - Marca Épsilon,Lote 1371,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",3981.00,3.71,2025-09-24 00:00:00
273,Produto M - Marca Gama,Lote 3647,US,"8001 S Orange Blossom Trl - Florida, United St...",2056.00,1.67,2024-12-13 00:00:00
274,Produto B - Marca Lambda,Lote 3175,CH,"Wangfujing 12456 - Pequim, China",4163.00,9.24,2025-03-21 00:00:00
276,Produto R - Marca Épsilon,Lote 4962,CH,"Nanquim 123 - Xangai, China",5172.00,5.79,2024-12-21 00:00:00
277,Produto J - Marca Alfa,Lote 5853,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",9557.00,8.85,2025-04-13 00:00:00

In [ ]:
type(df1)

pandas.core.frame.DataFrame

In [ ]:
df1.shape

(244, 7)

In [ ]:
df1.head(10)

,Data,2021-01-31 00:00:00,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
1,Produto,Lote,País Origem,Endereço,Qtd Estoque,Valor Unitário,Validade
2,Produto H - Marca Delta,Lote 8191,CH,"Nanquim 123 - Xangai, China",6071.00,3.64,2026-06-13 00:00:00
3,Produto B - Marca Lambda,Lote 7447,CH,"Wangfujing 12456 - Pequim, China",5557.00,9.24,2025-01-02 00:00:00
4,Produto H - Marca Gama,Lote 7129,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",1184.00,2.48,2026-08-11 00:00:00
5,Produto C - Marca Gama,Lote 5155,AR,"Marcelo T. de Alvear 120 - Cordoba, Argentina",5974.00,9.02,2024-12-23 00:00:00
7,Produto H - Marca Alfa,Lote 3667,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",3014.00,3.16,2027-02-07 00:00:00
8,Produto H - Marca Capa,Lote 4451,BR,"Rua Amoroso Lima, 15 - Cidade Nova - Rio de Ja...",5172.00,7.41,2027-09-27 00:00:00
9,Produto R - Marca Gama,Lote 3338,AR,"9 de Julio 500 - Mendonza, Argentina",9616.00,7.42,2026-03-08 00:00:00
10,Produto R - Marca Alfa,Lote 6092,BR,"Rua Amoroso Lima, 15 - Cidade Nova - Rio de Ja...",6623.00,9.24,2026-07-13 00:00:00
11,Produto O - Marca Delta,Lote 2044,AR,"9 de Julio 500 - Mendonza, Argentina",6709.00,5.86,2025-02-10 00:00:00

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 1 to 277
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Data                 244 non-null    object
 1   2021-01-31 00:00:00  244 non-null    object
 2   Unnamed: 2           244 non-null    object
 3   Unnamed: 3           244 non-null    object
 4   Unnamed: 4           244 non-null    object
 5   Unnamed: 5           244 non-null    object
 6   Unnamed: 6           244 non-null    object
dtypes: object(7)
memory usage: 15.2+ KB

In [ ]:
df1.dtypes.value_counts()

object    7
dtype: int64

In [ ]:
df1.columns

Index([             'Data', 2021-01-31 00:00:00,        'Unnamed: 2',
              'Unnamed: 3',        'Unnamed: 4',        'Unnamed: 5',
              'Unnamed: 6'],
      dtype='object')

In [ ]:
df1.head()

,Data,2021-01-31 00:00:00,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
1,Produto,Lote,País Origem,Endereço,Qtd Estoque,Valor Unitário,Validade
2,Produto H - Marca Delta,Lote 8191,CH,"Nanquim 123 - Xangai, China",6071.00,3.64,2026-06-13 00:00:00
3,Produto B - Marca Lambda,Lote 7447,CH,"Wangfujing 12456 - Pequim, China",5557.00,9.24,2025-01-02 00:00:00
4,Produto H - Marca Gama,Lote 7129,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",1184.00,2.48,2026-08-11 00:00:00
5,Produto C - Marca Gama,Lote 5155,AR,"Marcelo T. de Alvear 120 - Cordoba, Argentina",5974.00,9.02,2024-12-23 00:00:00

In [ ]:
# Transformando as colunas indices
df1.columns = ['Produto', 'Lote','Pais Origem', 'Endereço', 'Qtd Estoque', 'Valor Unitário', 'Validade']

In [ ]:
df1

,Produto,Lote,Pais Origem,Endereço,Qtd Estoque,Valor Unitário,Validade
1,Produto,Lote,País Origem,Endereço,Qtd Estoque,Valor Unitário,Validade
2,Produto H - Marca Delta,Lote 8191,CH,"Nanquim 123 - Xangai, China",6071.00,3.64,2026-06-13 00:00:00
3,Produto B - Marca Lambda,Lote 7447,CH,"Wangfujing 12456 - Pequim, China",5557.00,9.24,2025-01-02 00:00:00
4,Produto H - Marca Gama,Lote 7129,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",1184.00,2.48,2026-08-11 00:00:00
5,Produto C - Marca Gama,Lote 5155,AR,"Marcelo T. de Alvear 120 - Cordoba, Argentina",5974.00,9.02,2024-12-23 00:00:00
...,...,...,...,...,...,...,...
272,Produto E - Marca Épsilon,Lote 1371,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",3981.00,3.71,2025-09-24 00:00:00
273,Produto M - Marca Gama,Lote 3647,US,"8001 S Orange Blossom Trl - Florida, United St...",2056.00,1.67,2024-12-13 00:00:00
274,Produto B - Marca Lambda,Lote 3175,CH,"Wangfujing 12456 - Pequim, China",4163.00,9.24,2025-03-21 00:00:00
276,Produto R - Marca Épsilon,Lote 4962,CH,"Nanquim 123 - Xangai, China",5172.00,5.79,2024-12-21 00:00:00
277,Produto J - Marca Alfa,Lote 5853,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",9557.00,8.85,2025-04-13 00:00:00

In [ ]:
# Excluindo linha
df1 = df1.drop(labels=1,axis=0)

In [ ]:
df1

,Produto,Lote,Pais Origem,Endereço,Qtd Estoque,Valor Unitário,Validade
2,Produto H - Marca Delta,Lote 8191,CH,"Nanquim 123 - Xangai, China",6071.00,3.64,2026-06-13 00:00:00
3,Produto B - Marca Lambda,Lote 7447,CH,"Wangfujing 12456 - Pequim, China",5557.00,9.24,2025-01-02 00:00:00
4,Produto H - Marca Gama,Lote 7129,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",1184.00,2.48,2026-08-11 00:00:00
5,Produto C - Marca Gama,Lote 5155,AR,"Marcelo T. de Alvear 120 - Cordoba, Argentina",5974.00,9.02,2024-12-23 00:00:00
7,Produto H - Marca Alfa,Lote 3667,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",3014.00,3.16,2027-02-07 00:00:00
...,...,...,...,...,...,...,...
272,Produto E - Marca Épsilon,Lote 1371,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",3981.00,3.71,2025-09-24 00:00:00
273,Produto M - Marca Gama,Lote 3647,US,"8001 S Orange Blossom Trl - Florida, United St...",2056.00,1.67,2024-12-13 00:00:00
274,Produto B - Marca Lambda,Lote 3175,CH,"Wangfujing 12456 - Pequim, China",4163.00,9.24,2025-03-21 00:00:00
276,Produto R - Marca Épsilon,Lote 4962,CH,"Nanquim 123 - Xangai, China",5172.00,5.79,2024-12-21 00:00:00
277,Produto J - Marca Alfa,Lote 5853,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",9557.00,8.85,2025-04-13 00:00:00

In [ ]:
df1.insert(0, column = 'ID', value = range(1, 1 + len(df1)))

In [ ]:
df1.head()

,ID,Produto,Lote,Pais Origem,Endereço,Qtd Estoque,Valor Unitário,Validade
2,1,Produto H - Marca Delta,Lote 8191,CH,"Nanquim 123 - Xangai, China",6071.00,3.64,2026-06-13 00:00:00
3,2,Produto B - Marca Lambda,Lote 7447,CH,"Wangfujing 12456 - Pequim, China",5557.00,9.24,2025-01-02 00:00:00
4,3,Produto H - Marca Gama,Lote 7129,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",1184.00,2.48,2026-08-11 00:00:00
5,4,Produto C - Marca Gama,Lote 5155,AR,"Marcelo T. de Alvear 120 - Cordoba, Argentina",5974.00,9.02,2024-12-23 00:00:00
7,5,Produto H - Marca Alfa,Lote 3667,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",3014.00,3.16,2027-02-07 00:00:00

In [ ]:
df1.columns

Index(['ID', 'Produto', 'Lote', 'Pais Origem', 'Endereço', 'Qtd Estoque',
       'Valor Unitário', 'Validade'],
      dtype='object')

In [ ]:
df1

,ID,Produto,Lote,Pais Origem,Endereço,Qtd Estoque,Valor Unitário,Validade
2,1,Produto H - Marca Delta,Lote 8191,CH,"Nanquim 123 - Xangai, China",6071.00,3.64,2026-06-13 00:00:00
3,2,Produto B - Marca Lambda,Lote 7447,CH,"Wangfujing 12456 - Pequim, China",5557.00,9.24,2025-01-02 00:00:00
4,3,Produto H - Marca Gama,Lote 7129,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",1184.00,2.48,2026-08-11 00:00:00
5,4,Produto C - Marca Gama,Lote 5155,AR,"Marcelo T. de Alvear 120 - Cordoba, Argentina",5974.00,9.02,2024-12-23 00:00:00
7,5,Produto H - Marca Alfa,Lote 3667,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",3014.00,3.16,2027-02-07 00:00:00
...,...,...,...,...,...,...,...,...
272,239,Produto E - Marca Épsilon,Lote 1371,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",3981.00,3.71,2025-09-24 00:00:00
273,240,Produto M - Marca Gama,Lote 3647,US,"8001 S Orange Blossom Trl - Florida, United St...",2056.00,1.67,2024-12-13 00:00:00
274,241,Produto B - Marca Lambda,Lote 3175,CH,"Wangfujing 12456 - Pequim, China",4163.00,9.24,2025-03-21 00:00:00
276,242,Produto R - Marca Épsilon,Lote 4962,CH,"Nanquim 123 - Xangai, China",5172.00,5.79,2024-12-21 00:00:00
277,243,Produto J - Marca Alfa,Lote 5853,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",9557.00,8.85,2025-04-13 00:00:00

In [ ]:
df1['Produto']

2        Produto H - Marca Delta
3       Produto B - Marca Lambda
4         Produto H - Marca Gama
5         Produto C - Marca Gama
7         Produto H - Marca Alfa
                 ...
272    Produto E - Marca Épsilon
273       Produto M - Marca Gama
274     Produto B - Marca Lambda
276    Produto R - Marca Épsilon
277       Produto J - Marca Alfa
Name: Produto, Length: 243, dtype: object

In [ ]:
df = df1.copy()

In [ ]:
df1.head()

,ID,Produto,Lote,Pais Origem,Endereço,Qtd Estoque,Valor Unitário,Validade
2,1,Produto H - Marca Delta,Lote 8191,CH,"Nanquim 123 - Xangai, China",6071.00,3.64,2026-06-13 00:00:00
3,2,Produto B - Marca Lambda,Lote 7447,CH,"Wangfujing 12456 - Pequim, China",5557.00,9.24,2025-01-02 00:00:00
4,3,Produto H - Marca Gama,Lote 7129,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",1184.00,2.48,2026-08-11 00:00:00
5,4,Produto C - Marca Gama,Lote 5155,AR,"Marcelo T. de Alvear 120 - Cordoba, Argentina",5974.00,9.02,2024-12-23 00:00:00
7,5,Produto H - Marca Alfa,Lote 3667,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",3014.00,3.16,2027-02-07 00:00:00

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 243 entries, 2 to 277
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              243 non-null    int64
 1   Produto         243 non-null    object
 2   Lote            243 non-null    object
 3   Pais Origem     243 non-null    object
 4   Endereço        243 non-null    object
 5   Qtd Estoque     243 non-null    object
 6   Valor Unitário  243 non-null    object
 7   Validade        243 non-null    object
dtypes: int64(1), object(7)
memory usage: 17.1+ KB

In [ ]:
if isinstance(df1, pd.DataFrame):
    print('O objeto é um DataFrame')
else:
    print('O objeto não é um DataFrame')

O objeto é um DataFrame

In [ ]:
df1.columns

Index(['ID', 'Produto', 'Lote', 'Pais Origem', 'Endereço', 'Qtd Estoque',
       'Valor Unitário', 'Validade'],
      dtype='object')

In [ ]:
# Divindo a coluna produto em produto e marca
df1[['Produto', 'Marca']] = df1['Produto'].str.split('-', expand = True)

In [ ]:
df1.head()

,ID,Produto,Lote,Pais Origem,Endereço,Qtd Estoque,Valor Unitário,Validade,Marca
2,1,Produto H,Lote 8191,CH,"Nanquim 123 - Xangai, China",6071.00,3.64,2026-06-13 00:00:00,Marca Delta
3,2,Produto B,Lote 7447,CH,"Wangfujing 12456 - Pequim, China",5557.00,9.24,2025-01-02 00:00:00,Marca Lambda
4,3,Produto H,Lote 7129,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",1184.00,2.48,2026-08-11 00:00:00,Marca Gama
5,4,Produto C,Lote 5155,AR,"Marcelo T. de Alvear 120 - Cordoba, Argentina",5974.00,9.02,2024-12-23 00:00:00,Marca Gama
7,5,Produto H,Lote 3667,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",3014.00,3.16,2027-02-07 00:00:00,Marca Alfa

In [ ]:
df1.columns

Index(['ID', 'Produto', 'Lote', 'Pais Origem', 'Endereço', 'Qtd Estoque',
       'Valor Unitário', 'Validade', 'Marca'],
      dtype='object')

In [ ]:
df1.head()

,ID,Produto,Lote,Pais Origem,Endereço,Qtd Estoque,Valor Unitário,Validade,Marca
2,1,Produto H,Lote 8191,CH,"Nanquim 123 - Xangai, China",6071.00,3.64,2026-06-13 00:00:00,Marca Delta
3,2,Produto B,Lote 7447,CH,"Wangfujing 12456 - Pequim, China",5557.00,9.24,2025-01-02 00:00:00,Marca Lambda
4,3,Produto H,Lote 7129,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",1184.00,2.48,2026-08-11 00:00:00,Marca Gama
5,4,Produto C,Lote 5155,AR,"Marcelo T. de Alvear 120 - Cordoba, Argentina",5974.00,9.02,2024-12-23 00:00:00,Marca Gama
7,5,Produto H,Lote 3667,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",3014.00,3.16,2027-02-07 00:00:00,Marca Alfa

In [ ]:
display(df1.head())

,ID,Produto,Lote,Pais Origem,Endereço,Qtd Estoque,Valor Unitário,Validade,Marca
2,1,Produto H,Lote 8191,CH,"Nanquim 123 - Xangai, China",6071.00,3.64,2026-06-13 00:00:00,Marca Delta
3,2,Produto B,Lote 7447,CH,"Wangfujing 12456 - Pequim, China",5557.00,9.24,2025-01-02 00:00:00,Marca Lambda
4,3,Produto H,Lote 7129,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",1184.00,2.48,2026-08-11 00:00:00,Marca Gama
5,4,Produto C,Lote 5155,AR,"Marcelo T. de Alvear 120 - Cordoba, Argentina",5974.00,9.02,2024-12-23 00:00:00,Marca Gama
7,5,Produto H,Lote 3667,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",3014.00,3.16,2027-02-07 00:00:00,Marca Alfa

In [ ]:
# Alterando a posição da coluna marca
df1 = df1.reindex(columns=['ID', 'Produto', 'Marca', 'Lote', 'Pais Origem', 'Endereço', 'Qtd Estoque', 'Valor Unitário', 'Validade'])

In [ ]:
df1.head()

,ID,Produto,Marca,Lote,Pais Origem,Endereço,Qtd Estoque,Valor Unitário,Validade
2,1,Produto H,Marca Delta,Lote 8191,CH,"Nanquim 123 - Xangai, China",6071.00,3.64,2026-06-13 00:00:00
3,2,Produto B,Marca Lambda,Lote 7447,CH,"Wangfujing 12456 - Pequim, China",5557.00,9.24,2025-01-02 00:00:00
4,3,Produto H,Marca Gama,Lote 7129,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",1184.00,2.48,2026-08-11 00:00:00
5,4,Produto C,Marca Gama,Lote 5155,AR,"Marcelo T. de Alvear 120 - Cordoba, Argentina",5974.00,9.02,2024-12-23 00:00:00
7,5,Produto H,Marca Alfa,Lote 3667,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",3014.00,3.16,2027-02-07 00:00:00

In [ ]:
df = df1.copy()

In [ ]:
df.head()

,ID,Produto,Marca,Lote,Pais Origem,Endereço,Qtd Estoque,Valor Unitário,Validade
2,1,Produto H,Marca Delta,Lote 8191,CH,"Nanquim 123 - Xangai, China",6071.00,3.64,2026-06-13 00:00:00
3,2,Produto B,Marca Lambda,Lote 7447,CH,"Wangfujing 12456 - Pequim, China",5557.00,9.24,2025-01-02 00:00:00
4,3,Produto H,Marca Gama,Lote 7129,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",1184.00,2.48,2026-08-11 00:00:00
5,4,Produto C,Marca Gama,Lote 5155,AR,"Marcelo T. de Alvear 120 - Cordoba, Argentina",5974.00,9.02,2024-12-23 00:00:00
7,5,Produto H,Marca Alfa,Lote 3667,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",3014.00,3.16,2027-02-07 00:00:00

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 243 entries, 2 to 277
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              243 non-null    int64
 1   Produto         243 non-null    object
 2   Marca           243 non-null    object
 3   Lote            243 non-null    object
 4   Pais Origem     243 non-null    object
 5   Endereço        243 non-null    object
 6   Qtd Estoque     243 non-null    object
 7   Valor Unitário  243 non-null    object
 8   Validade        243 non-null    object
dtypes: int64(1), object(8)
memory usage: 19.0+ KB

In [ ]:
# Salvando o arquivo em formato excel(salvo com sucesso)
df1.to_excel("tratadoparcial2_28-03-2023.xlsx",index=False)

In [ ]:
df.head()

,ID,Produto,Marca,Lote,Pais Origem,Endereço,Qtd Estoque,Valor Unitário,Validade
2,1,Produto H,Marca Delta,Lote 8191,CH,"Nanquim 123 - Xangai, China",6071.00,3.64,2026-06-13 00:00:00
3,2,Produto B,Marca Lambda,Lote 7447,CH,"Wangfujing 12456 - Pequim, China",5557.00,9.24,2025-01-02 00:00:00
4,3,Produto H,Marca Gama,Lote 7129,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",1184.00,2.48,2026-08-11 00:00:00
5,4,Produto C,Marca Gama,Lote 5155,AR,"Marcelo T. de Alvear 120 - Cordoba, Argentina",5974.00,9.02,2024-12-23 00:00:00
7,5,Produto H,Marca Alfa,Lote 3667,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",3014.00,3.16,2027-02-07 00:00:00

In [ ]:
# Transformando em float
df1['Valor Unitário'] = pd.to_numeric(df1['Valor Unitário'], errors='coerce')
df1['Qtd Estoque'] = pd.to_numeric(df1['Qtd Estoque'], errors='coerce')

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 243 entries, 2 to 277
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              243 non-null    int64
 1   Produto         243 non-null    object
 2   Marca           243 non-null    object
 3   Lote            243 non-null    object
 4   Pais Origem     243 non-null    object
 5   Endereço        243 non-null    object
 6   Qtd Estoque     243 non-null    float64
 7   Valor Unitário  243 non-null    float64
 8   Validade        243 non-null    object
dtypes: float64(2), int64(1), object(6)
memory usage: 19.0+ KB

In [ ]:
# Criando nova coluna "Cidade" extraindo da coluna "Endereço " somente o nome da cidade
df1['Cidade'] = df1['Endereço'].str.split('-').str[1].str.split(',').str[0]

In [ ]:
df1.head()

,ID,Produto,Marca,Lote,Pais Origem,Endereço,Qtd Estoque,Valor Unitário,Validade,Cidade
2,1,Produto H,Marca Delta,Lote 8191,CH,"Nanquim 123 - Xangai, China",6071.0,3.64,2026-06-13 00:00:00,Xangai
3,2,Produto B,Marca Lambda,Lote 7447,CH,"Wangfujing 12456 - Pequim, China",5557.0,9.24,2025-01-02 00:00:00,Pequim
4,3,Produto H,Marca Gama,Lote 7129,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",1184.0,2.48,2026-08-11 00:00:00,São Paulo
5,4,Produto C,Marca Gama,Lote 5155,AR,"Marcelo T. de Alvear 120 - Cordoba, Argentina",5974.0,9.02,2024-12-23 00:00:00,Cordoba
7,5,Produto H,Marca Alfa,Lote 3667,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",3014.0,3.16,2027-02-07 00:00:00,São Paulo

In [ ]:
# Reordenando as colunas
df1 = df1.reindex(columns=['ID', 'Produto', 'Marca', 'Lote', 'Pais Origem', 'Endereço', 'Cidade','Qtd Estoque', 'Valor Unitário', 'Validade'])

In [ ]:
df1.head()

,ID,Produto,Marca,Lote,Pais Origem,Endereço,Cidade,Qtd Estoque,Valor Unitário,Validade
2,1,Produto H,Marca Delta,Lote 8191,CH,"Nanquim 123 - Xangai, China",Xangai,6071.0,3.64,2026-06-13 00:00:00
3,2,Produto B,Marca Lambda,Lote 7447,CH,"Wangfujing 12456 - Pequim, China",Pequim,5557.0,9.24,2025-01-02 00:00:00
4,3,Produto H,Marca Gama,Lote 7129,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",São Paulo,1184.0,2.48,2026-08-11 00:00:00
5,4,Produto C,Marca Gama,Lote 5155,AR,"Marcelo T. de Alvear 120 - Cordoba, Argentina",Cordoba,5974.0,9.02,2024-12-23 00:00:00
7,5,Produto H,Marca Alfa,Lote 3667,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",São Paulo,3014.0,3.16,2027-02-07 00:00:00

In [ ]:
# Salvando o arquivo em formato excel(salvo com sucesso)
df1.to_excel("tratadoparcial3_28-03-2023.xlsx",index=False)
print(f"O arquivo '{df1}' foi salvo com sucesso!")

O arquivo '      ID     Produto           Marca       Lote Pais Origem  \
2      1  Produto H      Marca Delta  Lote 8191          CH
3      2  Produto B     Marca Lambda  Lote 7447          CH
4      3  Produto H       Marca Gama  Lote 7129          BR
5      4  Produto C       Marca Gama  Lote 5155          AR
7      5  Produto H       Marca Alfa  Lote 3667          BR
..   ...         ...             ...        ...         ...
272  239  Produto E    Marca Épsilon  Lote 1371          BR
273  240  Produto M       Marca Gama  Lote 3647          US
274  241  Produto B     Marca Lambda  Lote 3175          CH
276  242  Produto R    Marca Épsilon  Lote 4962          CH
277  243  Produto J       Marca Alfa  Lote 5853          BR

                                              Endereço      Cidade  \
2                          Nanquim 123 - Xangai, China      Xangai
3                     Wangfujing 12456 - Pequim, China      Pequim
4    Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...   São Paulo
5        Marcelo T. de Alvear 120 - Cordoba, Argentina     Cordoba
7    Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...   São Paulo
..                                                 ...         ...
272  Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...   São Paulo
273  8001 S Orange Blossom Trl - Florida, United St...     Florida
274                   Wangfujing 12456 - Pequim, China      Pequim
276                        Nanquim 123 - Xangai, China      Xangai
277  Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...   São Paulo

     Qtd Estoque  Valor Unitário             Validade
2         6071.0            3.64  2026-06-13 00:00:00
3         5557.0            9.24  2025-01-02 00:00:00
4         1184.0            2.48  2026-08-11 00:00:00
5         5974.0            9.02  2024-12-23 00:00:00
7         3014.0            3.16  2027-02-07 00:00:00
..           ...             ...                  ...
272       3981.0            3.71  2025-09-24 00:00:00
273       2056.0            1.67  2024-12-13 00:00:00
274       4163.0            9.24  2025-03-21 00:00:00
276       5172.0            5.79  2024-12-21 00:00:00
277       9557.0            8.85  2025-04-13 00:00:00

[243 rows x 10 columns]' foi salvo com sucesso!

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 243 entries, 2 to 277
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              243 non-null    int64
 1   Produto         243 non-null    object
 2   Marca           243 non-null    object
 3   Lote            243 non-null    object
 4   Pais Origem     243 non-null    object
 5   Endereço        243 non-null    object
 6   Cidade          243 non-null    object
 7   Qtd Estoque     243 non-null    float64
 8   Valor Unitário  243 non-null    float64
 9   Validade        243 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 20.9+ KB

In [ ]:
# Criando nova coluna no local desejado com os valores multiplicados
df1.insert(9, column = 'Valor Total', value = df1['Qtd Estoque'] * df1['Valor Unitário'])

In [ ]:
# Salvando o arquivo em formato excel(salvo com sucesso)
df1.to_excel("tratadoparcial4_28-03-2023.xlsx",index=False)
print(f"O arquivo '{df1}' foi salvo com sucesso!")

O arquivo '      ID     Produto           Marca       Lote Pais Origem  \
2      1  Produto H      Marca Delta  Lote 8191          CH
3      2  Produto B     Marca Lambda  Lote 7447          CH
4      3  Produto H       Marca Gama  Lote 7129          BR
5      4  Produto C       Marca Gama  Lote 5155          AR
7      5  Produto H       Marca Alfa  Lote 3667          BR
..   ...         ...             ...        ...         ...
272  239  Produto E    Marca Épsilon  Lote 1371          BR
273  240  Produto M       Marca Gama  Lote 3647          US
274  241  Produto B     Marca Lambda  Lote 3175          CH
276  242  Produto R    Marca Épsilon  Lote 4962          CH
277  243  Produto J       Marca Alfa  Lote 5853          BR

                                              Endereço      Cidade  \
2                          Nanquim 123 - Xangai, China      Xangai
3                     Wangfujing 12456 - Pequim, China      Pequim
4    Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...   São Paulo
5        Marcelo T. de Alvear 120 - Cordoba, Argentina     Cordoba
7    Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...   São Paulo
..                                                 ...         ...
272  Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...   São Paulo
273  8001 S Orange Blossom Trl - Florida, United St...     Florida
274                   Wangfujing 12456 - Pequim, China      Pequim
276                        Nanquim 123 - Xangai, China      Xangai
277  Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...   São Paulo

     Qtd Estoque  Valor Unitário  Valor Total             Validade
2         6071.0            3.64     22098.44  2026-06-13 00:00:00
3         5557.0            9.24     51346.68  2025-01-02 00:00:00
4         1184.0            2.48      2936.32  2026-08-11 00:00:00
5         5974.0            9.02     53885.48  2024-12-23 00:00:00
7         3014.0            3.16      9524.24  2027-02-07 00:00:00
..           ...             ...          ...                  ...
272       3981.0            3.71     14769.51  2025-09-24 00:00:00
273       2056.0            1.67      3433.52  2024-12-13 00:00:00
274       4163.0            9.24     38466.12  2025-03-21 00:00:00
276       5172.0            5.79     29945.88  2024-12-21 00:00:00
277       9557.0            8.85     84579.45  2025-04-13 00:00:00

[243 rows x 11 columns]' foi salvo com sucesso!

In [ ]:

df2 = pd.read_excel('/content/tratadoparcial4_28-03-2023.xlsx')

In [ ]:
df2.head()

,ID,Produto,Marca,Lote,Pais Origem,Endereço,Cidade,Qtd Estoque,Valor Unitário,Valor Total,Validade
0,1,Produto H,Marca Delta,Lote 8191,CH,"Nanquim 123 - Xangai, China",Xangai,6071,3.64,22098.44,2026-06-13
1,2,Produto B,Marca Lambda,Lote 7447,CH,"Wangfujing 12456 - Pequim, China",Pequim,5557,9.24,51346.68,2025-01-02
2,3,Produto H,Marca Gama,Lote 7129,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",São Paulo,1184,2.48,2936.32,2026-08-11
3,4,Produto C,Marca Gama,Lote 5155,AR,"Marcelo T. de Alvear 120 - Cordoba, Argentina",Cordoba,5974,9.02,53885.48,2024-12-23
4,5,Produto H,Marca Alfa,Lote 3667,BR,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",São Paulo,3014,3.16,9524.24,2027-02-07

In [ ]:
# Alterando as siglas CH, BR, para Brasil e China - metodo replace
#df1['Pais_Origem'] = df1['Pais_Origem'].replace({'CH':'China','BR':'Brasil', 'AR':'Argentina','US':'Estados Unidos'})

In [ ]:
df2.columns

Index(['ID', 'Produto', 'Marca', 'Lote', 'Pais Origem', 'Endereço', 'Cidade',
       'Qtd Estoque', 'Valor Unitário', 'Valor Total', 'Validade'],
      dtype='object')

In [ ]:
# Alterando as siglas CH, BR, para Brasil e China - metodo replace
paises = {"CH": "China", "AR": "Argentina", "BR": "Brasil", "US": "Estados Unidos"}
df2["Pais Origem"] = df2["Pais Origem"].replace(paises)

In [ ]:
df2

,ID,Produto,Marca,Lote,Pais Origem,Endereço,Cidade,Qtd Estoque,Valor Unitário,Valor Total,Validade
0,1,Produto H,Marca Delta,Lote 8191,China,"Nanquim 123 - Xangai, China",Xangai,6071,3.64,22098.44,2026-06-13
1,2,Produto B,Marca Lambda,Lote 7447,China,"Wangfujing 12456 - Pequim, China",Pequim,5557,9.24,51346.68,2025-01-02
2,3,Produto H,Marca Gama,Lote 7129,Brasil,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",São Paulo,1184,2.48,2936.32,2026-08-11
3,4,Produto C,Marca Gama,Lote 5155,Argentina,"Marcelo T. de Alvear 120 - Cordoba, Argentina",Cordoba,5974,9.02,53885.48,2024-12-23
4,5,Produto H,Marca Alfa,Lote 3667,Brasil,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",São Paulo,3014,3.16,9524.24,2027-02-07
...,...,...,...,...,...,...,...,...,...,...,...
238,239,Produto E,Marca Épsilon,Lote 1371,Brasil,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",São Paulo,3981,3.71,14769.51,2025-09-24
239,240,Produto M,Marca Gama,Lote 3647,Estados Unidos,"8001 S Orange Blossom Trl - Florida, United St...",Florida,2056,1.67,3433.52,2024-12-13
240,241,Produto B,Marca Lambda,Lote 3175,China,"Wangfujing 12456 - Pequim, China",Pequim,4163,9.24,38466.12,2025-03-21
241,242,Produto R,Marca Épsilon,Lote 4962,China,"Nanquim 123 - Xangai, China",Xangai,5172,5.79,29945.88,2024-12-21
242,243,Produto J,Marca Alfa,Lote 5853,Brasil,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",São Paulo,9557,8.85,84579.45,2025-04-13

In [ ]:
df2.columns

Index(['ID', 'Produto', 'Marca', 'Lote', 'Pais Origem', 'Endereço', 'Cidade',
       'Qtd Estoque', 'Valor Unitário', 'Valor Total', 'Validade'],
      dtype='object')

In [ ]:
df2['Pais Origem']

0               China
1               China
2              Brasil
3           Argentina
4              Brasil
            ...
238            Brasil
239    Estados Unidos
240             China
241             China
242            Brasil
Name: Pais Origem, Length: 243, dtype: object

In [ ]:
# Salvando o arquivo em formato excel(salvo com sucesso)
df2.to_excel("tratadoparcial7_28-03-2023.xlsx",index=False)
print(f"O arquivo '{df2}' foi salvo com sucesso!")

O arquivo '      ID     Produto           Marca       Lote     Pais Origem  \
0      1  Produto H      Marca Delta  Lote 8191           China
1      2  Produto B     Marca Lambda  Lote 7447           China
2      3  Produto H       Marca Gama  Lote 7129          Brasil
3      4  Produto C       Marca Gama  Lote 5155       Argentina
4      5  Produto H       Marca Alfa  Lote 3667          Brasil
..   ...         ...             ...        ...             ...
238  239  Produto E    Marca Épsilon  Lote 1371          Brasil
239  240  Produto M       Marca Gama  Lote 3647  Estados Unidos
240  241  Produto B     Marca Lambda  Lote 3175           China
241  242  Produto R    Marca Épsilon  Lote 4962           China
242  243  Produto J       Marca Alfa  Lote 5853          Brasil

                                              Endereço      Cidade  \
0                          Nanquim 123 - Xangai, China      Xangai
1                     Wangfujing 12456 - Pequim, China      Pequim
2    Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...   São Paulo
3        Marcelo T. de Alvear 120 - Cordoba, Argentina     Cordoba
4    Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...   São Paulo
..                                                 ...         ...
238  Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...   São Paulo
239  8001 S Orange Blossom Trl - Florida, United St...     Florida
240                   Wangfujing 12456 - Pequim, China      Pequim
241                        Nanquim 123 - Xangai, China      Xangai
242  Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...   São Paulo

     Qtd Estoque  Valor Unitário  Valor Total   Validade
0           6071            3.64     22098.44 2026-06-13
1           5557            9.24     51346.68 2025-01-02
2           1184            2.48      2936.32 2026-08-11
3           5974            9.02     53885.48 2024-12-23
4           3014            3.16      9524.24 2027-02-07
..           ...             ...          ...        ...
238         3981            3.71     14769.51 2025-09-24
239         2056            1.67      3433.52 2024-12-13
240         4163            9.24     38466.12 2025-03-21
241         5172            5.79     29945.88 2024-12-21
242         9557            8.85     84579.45 2025-04-13

[243 rows x 11 columns]' foi salvo com sucesso!

In [ ]:
# Importando a biblioteca datetime
from datetime import datetime, date

In [ ]:
# Calculando a diferença da data atual com a data de validade e criando nova coluna Dias de Validade
data_atual = datetime.today()
df2['Dias de Validade'] = (df2['Validade']- data_atual).dt.days

In [ ]:
df2.head()

,ID,Produto,Marca,Lote,Pais Origem,Endereço,Cidade,Qtd Estoque,Valor Unitário,Valor Total,Validade,Dias de Validade
0,1,Produto H,Marca Delta,Lote 8191,China,"Nanquim 123 - Xangai, China",Xangai,6071,3.64,22098.44,2026-06-13,1172
1,2,Produto B,Marca Lambda,Lote 7447,China,"Wangfujing 12456 - Pequim, China",Pequim,5557,9.24,51346.68,2025-01-02,645
2,3,Produto H,Marca Gama,Lote 7129,Brasil,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",São Paulo,1184,2.48,2936.32,2026-08-11,1231
3,4,Produto C,Marca Gama,Lote 5155,Argentina,"Marcelo T. de Alvear 120 - Cordoba, Argentina",Cordoba,5974,9.02,53885.48,2024-12-23,635
4,5,Produto H,Marca Alfa,Lote 3667,Brasil,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",São Paulo,3014,3.16,9524.24,2027-02-07,1411

In [ ]:
# Verificando o type da coluna Validade
df2.dtypes

ID                           int64
Produto                     object
Marca                       object
Lote                        object
Pais Origem                 object
Endereço                    object
Cidade                      object
Qtd Estoque                  int64
Valor Unitário             float64
Valor Total                float64
Validade            datetime64[ns]
Dias de Validade             int64
dtype: object

In [ ]:
# Salvando o arquivo em formato excel(salvo com sucesso)
df2.to_excel("dataset-tratado-final_28-03-2023.xlsx",index=False)
print(f"O arquivo '{df2}' foi salvo com sucesso!")

O arquivo '      ID     Produto           Marca       Lote     Pais Origem  \
0      1  Produto H      Marca Delta  Lote 8191           China
1      2  Produto B     Marca Lambda  Lote 7447           China
2      3  Produto H       Marca Gama  Lote 7129          Brasil
3      4  Produto C       Marca Gama  Lote 5155       Argentina
4      5  Produto H       Marca Alfa  Lote 3667          Brasil
..   ...         ...             ...        ...             ...
238  239  Produto E    Marca Épsilon  Lote 1371          Brasil
239  240  Produto M       Marca Gama  Lote 3647  Estados Unidos
240  241  Produto B     Marca Lambda  Lote 3175           China
241  242  Produto R    Marca Épsilon  Lote 4962           China
242  243  Produto J       Marca Alfa  Lote 5853          Brasil

                                              Endereço      Cidade  \
0                          Nanquim 123 - Xangai, China      Xangai
1                     Wangfujing 12456 - Pequim, China      Pequim
2    Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...   São Paulo
3        Marcelo T. de Alvear 120 - Cordoba, Argentina     Cordoba
4    Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...   São Paulo
..                                                 ...         ...
238  Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...   São Paulo
239  8001 S Orange Blossom Trl - Florida, United St...     Florida
240                   Wangfujing 12456 - Pequim, China      Pequim
241                        Nanquim 123 - Xangai, China      Xangai
242  Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...   São Paulo

     Qtd Estoque  Valor Unitário  Valor Total   Validade  Dias de Validade
0           6071            3.64     22098.44 2026-06-13              1172
1           5557            9.24     51346.68 2025-01-02               645
2           1184            2.48      2936.32 2026-08-11              1231
3           5974            9.02     53885.48 2024-12-23               635
4           3014            3.16      9524.24 2027-02-07              1411
..           ...             ...          ...        ...               ...
238         3981            3.71     14769.51 2025-09-24               910
239         2056            1.67      3433.52 2024-12-13               625
240         4163            9.24     38466.12 2025-03-21               723
241         5172            5.79     29945.88 2024-12-21               633
242         9557            8.85     84579.45 2025-04-13               746

[243 rows x 12 columns]' foi salvo com sucesso!

In [ ]:
# Finalizando
df2

,ID,Produto,Marca,Lote,Pais Origem,Endereço,Cidade,Qtd Estoque,Valor Unitário,Valor Total,Validade,Dias de Validade
0,1,Produto H,Marca Delta,Lote 8191,China,"Nanquim 123 - Xangai, China",Xangai,6071,3.64,22098.44,2026-06-13,1172
1,2,Produto B,Marca Lambda,Lote 7447,China,"Wangfujing 12456 - Pequim, China",Pequim,5557,9.24,51346.68,2025-01-02,645
2,3,Produto H,Marca Gama,Lote 7129,Brasil,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",São Paulo,1184,2.48,2936.32,2026-08-11,1231
3,4,Produto C,Marca Gama,Lote 5155,Argentina,"Marcelo T. de Alvear 120 - Cordoba, Argentina",Cordoba,5974,9.02,53885.48,2024-12-23,635
4,5,Produto H,Marca Alfa,Lote 3667,Brasil,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",São Paulo,3014,3.16,9524.24,2027-02-07,1411
...,...,...,...,...,...,...,...,...,...,...,...,...
238,239,Produto E,Marca Épsilon,Lote 1371,Brasil,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",São Paulo,3981,3.71,14769.51,2025-09-24,910
239,240,Produto M,Marca Gama,Lote 3647,Estados Unidos,"8001 S Orange Blossom Trl - Florida, United St...",Florida,2056,1.67,3433.52,2024-12-13,625
240,241,Produto B,Marca Lambda,Lote 3175,China,"Wangfujing 12456 - Pequim, China",Pequim,4163,9.24,38466.12,2025-03-21,723
241,242,Produto R,Marca Épsilon,Lote 4962,China,"Nanquim 123 - Xangai, China",Xangai,5172,5.79,29945.88,2024-12-21,633
242,243,Produto J,Marca Alfa,Lote 5853,Brasil,"Rua Líbero Badaró, 425. Bairro Sé - São Paulo,...",São Paulo,9557,8.85,84579.45,2025-04-13,746